.about_me
  %h1 Hi there!
  %p
    It's me,
    %a{href: 'https://github.com/katarzyna-starachowicz', target: '_blank'} Katarzyna
    8-)
  %p ... and I want to become Rails developer. I have just finished an internship and I'm looking for a new job as a junior. This is just the beginning of a fabulous journey into Web development world.
  %p I created this blog because I need a place for my notes, the place which would encourage me to learn and write about it regularly. I hope someone else will some day learn something from it also.
  %p Thanks for reading!
